@charset "utf-8";
/* CSS Document */

.kpi_tab_section { position:relative; margin: 10px 0}
.kpi_tab_area { display:inline-block}
.kpi_tab_area tr { margin:0 15px}
.kpi_tab_area th {background: url("../../images/kpi_tab_bg.jpg") repeat-x scroll 0 0 ;border-left: 1px solid #bbbaba; border-right: 1px solid #bbbaba; border-bottom: 1px solid #bbbaba; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #323232; font-size: 12px;
					text-align:center; line-height: 120%; overflow: hidden; padding: 6px 7px 1px; width: auto; margin:0 1px 5px}
.kpi_tab_area th:hover {background: url("../../images/kpi_tab_hover.jpg") repeat-x scroll 0 0 ; color:#3a729b}
.kpi_tab_area th.current {background: url("../../images/kpi_tab_hover.jpg") repeat-x scroll 0 0 ;height:15px; background-color:#dfeffc ; border-bottom:1px solid #dfeffc}
.kpi_tab_area th a { display:inline-block}
.kpi_tab_area th a:hover {color:#3a729b}
.kpi_tab_area th.current a {color:blue;font-size:15px;font-weight:bold}
.kpi_arr a {width:8px; height:15px;}
.kpi_arr.prev a {background:url(../../images/kpi_arr.png) 0 0; display:inline-block; position: absolute; top: 7px}
.kpi_arr.next a {background:url(../../images/kpi_arr.png) -90px 0; display:inline-block; margin: 6px 0 0 7px}
.kpi_arr.prev a:hover {background-position:0 -30px}
.kpi_arr.next a:hover { background-position:-90px -30px}

.tab_bottom { background-color: #FFFFFF; top:25px; height: 6px; position: absolute; width: 100%; border:1px solid}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl, .ui-corner-right, .ui-corner-tr, .ui-corner-bottom, .ui-corner-bl, .ui-corner-br {
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -khtml-border-radius:0;
}